.border-white-custom{
    border: 1px solid white;
}

.timeline-display{
    position: absolute;
    background-color: rgb(79 95 212 / var(--tw-bg-opacity));
    border-radius: 0.75rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color: white;
    padding: 0 10px;
}

.utkarsh-fd{
    top: 35%;
    width: 16em
}

.shriram-fd{
    top: 50%;
    width: 34em;
}

.bajaj-finserve{
    top: 65%;
    width: 24em;
    margin-left: 9em;
}

.mahindra-fd{
    top: 80%;
    width: 55em;
    margin-left: 11em;
}